.result {
  border-radius: 20px;
  padding: 20px;
  box-shadow:
    0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 30px 0;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.header-cell,
.cell {
  padding: 10px;
  border: 1px solid #999999;
}

.header-cell {
  background-color: #dddddd;
  text-align: left;
}

.row:nth-child(2n) {
  background-color: #eeeeee;
}

.name {
  width: 150px;
}

.null {
  text-align: center;
}

.error {
  text-align: center;
  color: #db4437;
}
