.light {
  --bg-color: #ffffff;
  --text-color: #000000;
}

.dark {
  --bg-color: #333333;
  --text-color: #ffffff;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.result-wrapper {
  margin: 25px 0;
  width: 100%;
  height: 70vh;
  overflow-y: auto;
}

.pagination-wrapper {
  height: 64px;
}

.info {
  width: 100%;
  display: flex;
  gap: 20px;
}

.main {
  display: flex;
}

.hide {
  display: none;
}